### Universal for all MP folders ###
####################################
partners.txt
*grade*.txt
.svn/

### Course grouping specifics ###
#################################
*-I/*.pyc
*-N/*.txt
*-N/obj/

### Application Security-I ###
cookie
setcookie
2.[1,2]*[!a-zA-Z]

### Basic HTTP-N ###
http_client
http_server

### Crytography-I ###
prefix
sol_1.*.txt
sol_1.*.hex

### Reliable UDP-N ###
reliable_sender
reliable_receiver

### Network Security-I ###
*.pcap
